---
pagination:
  data: collections.agreements
  size: 1
  alias: agreement
permalink: "/{{ agreement.slug }}/index.html"
---

<!doctype html>
<html lang="sv">

  <head>
    <meta charset="utf-8">
    <title>{{ agreement.name }} {{year}}</title>
  </head>

  <body>

    <h1>
      {{ agreement.name }} {{year}}
    </h1>

    <table>
      <thead>
        <th></th>
        <th>Namn</th>
      </thead>

      <tbody>
        {% for document in agreement.documents %}
          <tr>
            <td>
              <img
                alt=""
                src="/{{ document.thumbnails.w64 }}"
              />
            </td>

            <td>
              <a href="/{{ document.filename }}">
                {{ document.basename }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  </body>
</html>

