---
pagination:
  data: collections.agreements
  size: 1
  alias: agreement
permalink: "/{{ agreement.slug }}/index.html"
layout: blank
eleventyComputed:
  breadcrumbs:
    - href: https://kollektivavtal.github.io/
      text: 🏠
    - href: "/"
      text: "{{ year }}"
    - href: "/{{ agreement.slug }}/index.html"
      text: "{{ agreement.name }}"
---

{% from "thumbnail.njk" import thumbnail %}
{% from "h1.njk" import h1 %}

{{ h1(agreement.name, "", "mb-8") }}

<table>
  <caption class="mb-4 w-min text-xl font-bold">
    Dokument
  </caption>

  <thead class="sr-only">
    <th></th>
    <th>Namn</th>
  </thead>

  <tbody class="flex flex-col space-y-4">
    {% for document in agreement.documents %}
      <tr>
        <td>
          <div class="aspect-[707/1000] shrink-0 border-2 border-slate-200">
            <img alt="{{ alt }}" src="/{{ document.thumbnails.w64 }}" />
          </div>
        </td>

        <td>
          <div class="ml-4 flex flex-col">
            <a
              class="text-blue-600 underline"
              href="/{{ document.filename }}"
              {% if document.language !== "sv" %}lang="{{ document.language }}"{% endif %}
            >
              {{ document.name }}
            </a>
            <span
              class="mt-1 max-w-full overflow-hidden text-sm leading-6 text-gray-700"
            >
              PDF, {{ (document.bytes / 1024).toFixed(2) }} KB
              {%- if document.language !== "sv" -%}
                ,
                {% if document.language === "en" -%}
                  <span lang="en">English</span>
                {%- endif -%}
              {%- endif -%}
            </span>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if agreement.sources %}
  <section class="mt-8">
    <h2 class="mb-4 w-min text-xl font-bold">Referenser</h2>

    <ol class="flex list-inside list-decimal flex-col gap-y-4">
      {% for source in agreement.sources %}
        <li>
          <a class="text-blue-600 underline" href="{{ source }}">
            {{ source }}
          </a>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endif %}
