{% extends "left-right.njk" %}

{% from "thumbnail.njk" import thumbnail %}
{% from "agreements.njk" import agreementsTableLink %}
{% from "breadcrumbs.njk" import breadcrumbs %}

{% block left %}

  <div class="flex flex-col space-y-4 items-center">
    {{ breadcrumbs([ { url: "https://kollektivavtal.github.io/", text: "Kollektivavtalsarkivet" } ]) }}

    <header>
      <h1 class="font-mono text-xl">
        Kollektivavtalsarkivet {{ year }}
      </h1>
    </header>
  </div>
{% endblock %}

{% block right %}
  <table class="Agreements">
    <caption>
      Avtal
    </caption>

    <thead class="sr-only">
      <tr>
        <th></th>
        <th>Namn</th>
      </tr>
    </thead>

    <tbody>

      {% for agreement in collections.agreements %}
        <tr class="Agreements__row">
          <td class="Agreements__cell--thumbnail">
            {{ thumbnail("", agreement.documents[0].thumbnails.w32) }}
          </td>

          <td class="Agreements__cell--name">
            {{ agreementsTableLink(agreement) }}
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
{% endblock %}
