<!doctype html>
<html lang="sv">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://kollektivavtal.github.io/style.css" />
    <title>Kollektivavtalsarkiv {{year}}</title>
  </head>

  <body>

    {% include "nav.html" %}

    <header>
      <h1>
        Kollektivavtalsarkiv {{year}}
      </h1>
    </header>

    <table>
      <thead>
        <th></th>
        <th>Namn</th>
      </thead>

      <tbody>
        <caption>
          Avtal
        </caption>

        {% for agreement in collections.agreements %}
          <tr>
            <td>
              <img
                alt=""
                src="{{ agreement.documents[0].thumbnails.w64 }}"
              />
            </td>

            <td>
              <a href="/{{ agreement.slug }}">
                {{ agreement.name }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  </body>
</html>
