<!doctype html>
<html lang="sv">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://kollektivavtal.github.io/style.css" />
    <title>Kollektivavtalsarkiv {{year}}</title>
  </head>

  <body>

    {% include "nav.html" %}

    <nav aria-label="Brödsmulor">
      <ol>

        <li>
          <a href="https://kollektivavtal.github.io/">
            🏠
          </a>
        </li>

        <li>
          <a href="/">{{ year }}</a>
        </li>
      </ol>
    </nav>

    <header>
      <h1>
        Kollektivavtalsarkiv {{year}}
      </h1>
    </header>

    <table>
      <caption>
        Avtal
      </caption>

      <thead>
        <th></th>
        <th>Namn</th>
      </thead>

      <tbody>

        {% for agreement in collections.agreements %}
          <tr>
            <td>
              <img
                alt=""
                src="{{ agreement.documents[0].thumbnails.w64 }}"
              />
            </td>

            <td>
              <a href="/{{ agreement.slug }}">
                {{ agreement.name }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  </body>
</html>
