{%- macro breadcrumbs(links) -%}
  <nav aria-label="Brödsmulor">
    <ol class="flex flex-col">
      {% for link in links %}
        <li class="">
          <a class="text-sky-400 underline" href="{{ link.url }}"
            >{{ link.text }}</a
          >
        </li>
      {% endfor %}
    </ol>
  </nav>
{%- endmacro -%}
